<b>Nuova password</b>
<pre>
    lskdfnlasjdnfasd
    sadflmdfds
    sdfkgffdg
    sdikdmdf
    dikdddddfsidfjnidsnfouisdf 
    sdmfdskfmdd
    fdfm dsifmsd msdf oi   sdikdmdf
</pre>

<h1> la password è questa </h1>
<h2> <%= password %> </h2>